body {
	background: pink;
}

h1 {
	text-align: center;
}

.container {
	width: 960px;
	height: 450px;
	margin: 60px auto;
	position: relative;
	
}

img {
	padding: 10px 10px 15px;
	background: white;
	position: absolute;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
}

img:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-moz-transform: scale(1.3);
	box-shadow: 10px 10px 15px #ccc;
	z-index: 2;
}
.img1{
	left: 400px; 
	top: 0; 
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg); 
	transform: rotate(-5deg);
	z-index: 1;
}

.img2{
	top: 0; 
	left: 600px; 
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg);
	z-index: 1;
}

.img3
{
	bottom: 0; 
	right: 0; 
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
	z-index: 1;
}
	
.img4
{
	bottom:0; 
	left:300px; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	z-index: 1;
}

.img5
{
	bottom: 0; 
	left: 0; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	z-index: 1;
}

.img6
{
	top: 0; 
	left:0; 
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg);
	z-index: 1;
}

.img7
{
	top: 0; 
	left: 850px; 
	-webkit-transform: rotate(20deg); 
	-moz-transform: rotate(20deg); 
	transform: rotate(20deg);
	z-index: 1;
}

.img8
{
	bottom: -20px; 
	right: 630px; 
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
	z-index: 1;
}

.img9
{
	top: 90px; 
	left: 550px; 
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	transform: rotate(15deg);
	z-index: 1;
}

.img10
{
	left:180px; 
	top:20px; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	z-index: 1;
}